# Common Archos G9 board init file

import init.dongle.rc

on init
    # log "On init in archos_init..."
    write /sys/class/rfkill/rfkill0/state 0

    # change permissions for rfkill
    chmod 0777 /dev/rfkill

    export BT_FW_PATH /system/etc/firmware

    # Enable watchdog configuration - hardcoded to 4460
    setprop ro.board.cpu_type OMAP4460

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage 0751 root sdcard_r
    mkdir /storage/emulated 0555 root root
    mkdir /storage/sdcard1 0775 system system
    mkdir /storage/usbdisk0 0775 system system
    mkdir /mnt/media_rw/sdcard1 0775 media_rw media_rw
    mkdir /mnt/media_rw/usbdisk 0775 media_rw media_rw
    
    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk
#    export SECONDARY_STORAGE /storage/sdcard1
       
    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # SELinux to permissive
    setenforce 0

# power management
# Enable off mode by default
#    write /sys/kernel/debug/pm_debug/enable_off_mode 1
# Enable c-states (cpuidle)
#    write /sys/devices/system/cpu/cpu0/cpuidle/enable_state 1

# Enable Smart Reflex in debugfs
    write /sys/kernel/debug/pm_debug/smartreflex/sr_core/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_iva/autocomp 1
    write /sys/kernel/debug/pm_debug/smartreflex/sr_mpu/autocomp 1

    #exec /system/bin/logwrapper cat /proc/kmsg

    write /sys/devices/platform/omapdss/display1/hpd_enabled 1

on post-fs-data
	mkdir /data/smc 0770 drmrpc drmrpc
	# we will remap this as /storage/sdcard0 with the sdcard fuse tool
	mkdir /data/media 0770 media_rw media_rw
	mkdir /data/misc/firmware 0775 root root
	mkdir /data/misc/firmware/ti-connectivity 0755 root root
# dmrpc
    mkdir /data/smc 0770 drmrpc drmrpc
    chown drmrpc drmrpc /data/smc/counter.bin
    chown drmrpc drmrpc /data/smc/storage.bin
    chown drmrpc drmrpc /data/smc/system.bin	

on early-init
        mkdir /mnt/rawfs  0775 root root   
        mkdir /mnt/system 0775 root system

on early-boot
#	chmod 0666 /dev/pvrsrvkm
#	setprop ro.crypto.keyfile.userdata /dev/block/platform/omap/omap_hsmmc.1/by-name/crypto
	
# autosuspend root hubs immediatly after attached devices
#	write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
#	write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

# Remove the Ultra Fast Media Card Reader on EHCI bus
#	write /sys/bus/usb/devices/1-1.1/remove 1

# wi-fi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	insmod /system/lib/modules/compat.ko
	insmod /system/lib/modules/cfg80211.ko
	insmod /system/lib/modules/mac80211.ko
	insmod /system/lib/modules/wlcore.ko debug_level=0x63c00
	insmod /system/lib/modules/wl12xx.ko

# bluetooth
	insmod /system/lib/modules/bluetooth.ko
	insmod /system/lib/modules/rfcomm.ko
	insmod /system/lib/modules/hidp.ko
	insmod /system/lib/modules/hci_uart.ko
	insmod /system/lib/modules/bnep.ko
	insmod /system/lib/modules/tty_hci.ko

# btwilink is insmodded by uim-sysfs.
#	insmod /system/lib/modules/bluetooth/btwilink.ko

# GPS
#	insmod /system/lib/modules/gps_drv.ko

on fs

# change permissions for ION driver
     chmod 0777 /dev/ion
#    chmod 0777 /dev/dce

# We chown/chmod /factory because mount is run as root + defaults
	chown radio radio /factory
	chmod 0775 /factory

# add symlink for HDCP key
#        symlink /factory/hdcp.keys /system/vendor/firmware/hdcp.keys

# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

#Give system ownership and permission to boost clock for specified timeout
#Note boost_timeout cannot be changed from application because of dynamic sysfs creation. It will have default value of 3 sec.
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq
    chmod 0664  /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq

# Boost the CPU for 60 sec for boot optimization
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 60000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

    chown media media /dev/syslink-proc4430
    chown media media /dev/syslink-procmgr
    chown media media /dev/syslink_ipc
    chown media media /dev/omap-rproc0
    chown media media /dev/omap-rproc1
    chown media media /dev/omap-rproc2
    chown media media /dev/iovmm-omap0
    chown media media /dev/iovmm-omap1
    chown media media /dev/omap-devh0
    chown media media /dev/omap-devh1
    chown media media /dev/omap-devh2

    chmod 660 /dev/syslink-proc4430
    chmod 660 /dev/syslink-procmgr
    chmod 660 /dev/syslink_ipc
    chmod 440 /dev/omap-rproc0
    chmod 440 /dev/omap-rproc1
    chmod 440 /dev/omap-rproc2
    chmod 440 /dev/iovmm-omap0
    chmod 440 /dev/iovmm-omap1
    chmod 440 /dev/omap-devh0
    chmod 440 /dev/omap-devh1
    chmod 440 /dev/omap-devh2

    chmod 777 /dev/notifyducatidrv
    chmod 777 /dev/ipcnotify

    chmod 777 /dev/syslink_platform

    # change permissions for Tiler driver
    chown media media /dev/tiler
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

    # change permissions for modem
    chmod 0660 /dev/ttyS0
    chown radio radio /dev/ttyS0
    
    #for Bluetooth HID
    chmod 0666 /dev/uhid

    # change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display1/hpd_enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder

    #change permissions on overlay1, 2 and 3 for hdmi setup
    chown system system /sys/devices/platform/omapdss/overlay1/position
    chown system system /sys/devices/platform/omapdss/overlay1/input_size
    chown system system /sys/devices/platform/omapdss/overlay1/output_size
    chown system system /sys/devices/platform/omapdss/overlay2/position
    chown system system /sys/devices/platform/omapdss/overlay2/input_size
    chown system system /sys/devices/platform/omapdss/overlay2/output_size
    chown system system /sys/devices/platform/omapdss/overlay3/position
    chown system system /sys/devices/platform/omapdss/overlay3/input_size
    chown system system /sys/devices/platform/omapdss/overlay3/output_size

    # change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled

    # change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings

    # change permissions for overlay setting
    chown system system /sys/module/omapdss/parameters/overscan_percent

    # change permissions for s3d parameters (let hwc write)
    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_type

    symlink /dev/ttyO0 /dev/tigps

# Enable secondary display on Blaze
#    write /sys/devices/platform/omapdss/display1/enabled 1
#    write /sys/devices/platform/omapdss/overlay1/enabled 0
#    write /sys/devices/platform/omapdss/overlay1/manager "2lcd"
#    write /sys/devices/platform/omapdss/overlay1/enabled 1

# Revert the boost_timeout to the default value of 3 sec. Note this won't affect the prev boost
# request for boot time reduction
    write /sys/devices/system/cpu/cpufreq/hotplug/boost_timeout 3000000

#setup the hdmi interface
    # Enable hotplug detection for HDMI
    write /sys/devices/platform/omapdss/display1/hpd_enabled 1


# Change permissions for FB overlays for HDMI UI Cloning
    chown system system /sys/class/graphics/fb0/overlays
    chown system system /sys/class/graphics/fb0/fit_to_screen
    chown system system /sys/class/graphics/fb1/overlays

# Disable GPS
    write /sys/devices/platform/nl5550.0/gps_nshutdown/value 0

# Enable UI-Cloning Service in SystemServer
    setprop tv.hdmi.uicloning.enable true

# TouchInputMapper config for hdmi
    setprop touch.deviceTypeOnHdmi touchScreen
    setprop touch.strictPositionOnHdmi off

# Keypad permissions
    chmod 0444 /system/usr/keychars/omap-keypad.kcm.bin
    chmod 0444 /system/usr/keychars/qwerty.kcm.bin

    # mount partitions - RawFS
    mount rawfs /dev/block/mmcblk0p1 /mnt/rawfs        
    chown system system /mnt/rawfs/params
    chown root system /mnt/rawfs
    chmod 0770 /mnt/rawfs
    
    # We chown/chmod /cache again so because mount is run as root + defaults
    mkdir /data/cache 0771 system cache
    chown system cache /data/cache
    chmod 0771 /data/cache

     mkdir /data/tmp 0777 root root                               
     symlink /data/tmp /tmp
     
     setprop ro.crypto.fuse_sdcard true

on post-fs-data
    # copy hostapd.conf (WLAN HotSpot)
    copy /system/etc/wifi/softap/hostapd.conf /data/misc/wifi/hostapd.conf

    #create a directory for all sorts of files that shall
    # reside in internal nand (thumbnails etc)
    mkdir /data/nand 0775 system sdcard_rw
    chown system sdcard_rw /data/nand
    chmod 775 /data/nand

    mkdir /data/misc/vpn 0770 system vpn
    mkdir /data/misc/systemkeys 0700 system system
    # give system access to wpa_supplicant.conf for backup and restore
    # and make it readable for our users, because we are nice.
    mkdir /data/misc/wifi 0775 wifi wifi
    mkdir /data/misc/wifi/ti-connectivity 0775 wifi wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/vpn/profiles 0770 system vpn
    mkdir /data/local 0771 shell shell

    # SGX driver
    chmod 0666 /dev/pvrsrvkm
    
    # By default, the Linux kernel swaps in 8 pages of memory at a time. When using ZRAM, the incremental cost
    # of reading 1 page at a time is negligible and may help in case the device is under extreme memory pressure.
    # To read only 1 page at a time, add the following to your init.rc:
    write /proc/sys/vm/page-cluster 0

on property:ro.secure=0
  start console

on property:wlan.driver.status=ok
    chown wifi wifi /sys/devices/platform/wl1271/bt_coex_state

on property:ro.board.cpu_type=OMAP4460
    start thermaldaemon

on boot
    # activate zram
    swapon_all fstab.${ro.hardware}
    write /proc/sys/vm/page-cluster
    
   # enable KSM (Kernel samepage mapping)
   write /sys/kernel/mm/ksm/pages_to_scan 100
   write /sys/kernel/mm/ksm/sleep_millisecs 500
   write /sys/kernel/mm/ksm/run 1

service kmsg_log /system/bin/logwrapper cat /proc/kmsg
    class core
    user root
    group root

# Initialize the SGX driver
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service thermaldaemon /system/bin/thermaldaemon
    class core
    user root
    group root
    disabled
    critical

###################################################
# MSHIELD SMC PA Control - installs the SMC PA into the Secure Environment
###################################################
#service smc_pa /system/bin/smc_pa_ctrl \
#    -c /vendor/etc/smc_normal_world_android_cfg.ini \
#    start /vendor/firmware/smc_pa.ift
#    class core
#    user root
#    group root
#    oneshot

service watchdog_daemon /system/bin/watchdog_daemon
    class core
    user root
    group root
#    critical

#Load IVA firmware
#service baseimage /system/bin/syslink_daemon.out -f /lib/firmware/base_image_sys_m3.xem3 /lib/firmware/base_image_app_m3.xem3
#    class core
#    critical
#    user root
#    group media

service akmd /system/bin/akmd8975 -m 6
    class core
    user compass
    group misc

service switch_ms_to_3g /system/bin/logwrapper /usr/bin/usb_modeswitch
    class core
    user root
    group root
    disabled
    oneshot

#shared transport user space mgr service for Bluetooth, FM and GPS
service uim /system/bin/uim-sysfs
    class core
    user root
    group bluetooth net_bt_admin

service hciattach /system/bin/hciattach -l
    user root
# changing user to root from bluetooth is a potential security issue
# service hciattach_legacy is used instead of hciattach because, we dont
# have nodes named ttyHS0
    group bluetooth net_bt_admin misc
    disabled
    oneshot

# WLAN Related services
#service wlan_loader /system/bin/wlan_loader \
#    -f /system/etc/wifi/firmware.bin -i /data/misc/wifi/tiwlan.ini -e /data/misc/wifi/wlanconf.nvs
#    class main
#    disabled
#    oneshot

#service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c /system/etc/wifi/wpa_supplicant.conf
#    class main
#    socket wpa_wlan0 dgram 660 wifi wifi
#    disabled
#    oneshot

# wifi services
service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd -d /data/misc/wifi/hostapd.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service cplc_main /system/bin/cplc_main XML
       disabled
       oneshot

service rilPos-daemon /system/bin/rilposd -l /system/lib/librilpos.so -- -c CAIF -p 3000 -h localhost
       disabled
       oneshot

service console /bin/sh
    class core
    console
    disabled
#    user shell
#    group log

# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

# FUSE sdcard daemon for rich permissions (runs as media_rw)
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

service battery /system/bin/logwrapper /system/bin/batteryd -d
    class core

service powerd /system/bin/powerd
    class core
    user root
    group system
    disabled

service dbus /system/bin/dbus-daemon --system --nofork
    class main
    socket dbus stream 660 bluetooth bluetooth
    user bluetooth
    group bluetooth net_bt_admin

service bluetoothd /system/bin/bluetoothd -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    # init.rc does not yet support applying capabilities, so run as root and
    # let bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth net_bt_admin misc
    disabled

# GPS services
service navl_server /system/bin/start_navd -android_log NAVD -nav\"-c/system/etc/gps/config/pathconfigfile.txt\"a
    user root
    class main
    disabled
    oneshot

service nand /system/bin/nand /data/nand 1000 1015
    class main
    oneshot

service create_SysId /system/bin/logwrapper /usr/bin/create_sysid -p /data/media/
    class core
    oneshot

# generate nvs with calibration and mac
service create_nvs /system/bin/logwrapper /usr/bin/create_nvs -t /system/etc/firmware/ti-connectivity/wl1271-nvs_127x.bin -e /data/misc/firmware/ti-connectivity/wl1271-nvs.bin -w wl127x
    class core
    oneshot

# enable 3G Port
service set3GPortState /system/bin/set3GPortState
    user root
    oneshot
    disabled

# Wifi check
service wifical_check /system/bin/sh /system/bin/wificalcheck.sh
    disabled
    class late_start
    user root
    group wifi
    oneshot

# Wifi calibrate
service wifi_calibrator /system/bin/sh /system/bin/wifical.sh
    disabled
    class late_start
    user root
    group wifi
    oneshot

# Very first boot. We need to set the MAC address
on property:persist.wlan.ti.calibrated=0
    start wifi_calibrator
    setprop persist.wlan.ti.calibrated 1